
.leftSideContainer {
  flex:6;
  overflow:auto;
}
.rightSideContainer {
  flex:4;
}

@media only screen and (min-width:800px) {
  .leftSideContainer {
    flex:4;
  }
  .rightSideContainer {
    flex:6
  }
}
