
.leftSide {
  padding:1em;
  flex-basis:60%;
  overflow:auto;
}
.rightSide {
  padding:1em;
  flex-basis:40%;
  border-top:1px solid #bdbdbd;
}

@media only screen and (min-width:667px) {
  .leftSide {
    padding:2em;
    flex-basis:40%;
  }
  .rightSide {
    padding:2em;
    flex-basis:60%;
  }
}
