
/* -------  CreditCard  ------- */
.container {
  line-height:0;
  margin:0 2.5%;
}
.cc {
  padding:4%;
  cursor:pointer;
  filter:grayscale(100%);
  transition:filter 0.66s;
}
.ccActive {
  filter:grayscale(0);
  composes:cc;
}
.cc:hover {
  filter:grayscale(0);
}
