
/* -------  CreditCard  ------- */
.creditCardContainer {
  line-height:0;
  margin:0 3.33%;
}

.creditCard {
  width:42px;
  cursor:pointer;
  filter:grayscale(100%);
  transition:filter 0.44s;
}

.creditCardActive {
  filter:grayscale(0);
  composes:creditCard;
}

.creditCard:hover {
  filter:grayscale(0);
}
