
/* -------  CreditCard  ------- */
.creditCardContainer {
  line-height:0;
  margin:0 5%;
}

.creditCard {
  padding:4%;
  cursor:pointer;
  filter:grayscale(100%);
  transition:filter 0.66s;
}

.creditCardActive {
  filter:grayscale(0);
  composes:creditCard;
}

.creditCard:hover {
  filter:grayscale(0);
}
