
/* -------  CheckoutHeader  ------- */
.checkoutHeaderContainer {
  text-align:center;
  border-bottom:1px solid #bdbdbd;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:1em 0.5em;
}
.checkoutHeaderText {
  flex:1;
  font-size:1.2em;
}
.checkoutHeaderIcon {
  font-size:1.2em;
  line-height:0;
  width:1.6em;
  height:1.6em;
  display:flex;
  align-items:center;
  justify-content:center;
}
