
.paymentItem {
  height:4.5em;
  padding:0 1em;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:height 0.22s,background-color 0.44s;
}
.paymentItemActive {
  background-color:#fff;
  cursor:pointer;
  composes:paymentItem;
}
.paymentItemActive:hover {
  background-color:initial;
}

.paymentItem:not(:last-child) {
  border-bottom:1px solid #bdbdbd;
}

.paymentIcon {
  width:33px;
}

.paymentInfo {
  position:relative;
  flex:1;
  margin-left:1em;
  font-weight:500;
}
.paymentType {
  display:inline-block;
}
.paymentNumber {
  display:inline-block;
  margin-left:0.5em;
}
.paymentPreferred {
  color:#4d4d4d;
  font-size:0.8em;
  position:absolute;
  top:1.5em;
  opacity:0;
  transition:opacity 0.44s;
}
.checkmarkContainer {
  color:#3c8ac7;
  line-height:0;
  font-size:3em;
  opacity:0;
  transition:opacity 0.44s;
}
