
.paymentItem {
  padding:1.6em 1.2em;
  display:flex;
  align-items:center;
}

.paymentItem:not(:last-child) {
  border-bottom:1px solid #bdbdbd;
}

.paymentIcon {
  width:33px;
}

.paymentInfo {
  flex:1;
  margin-left:1em;
  font-weight:500;
}
.paymentType {
  display:inline-block;
}
.paymentCc {
  display:inline-block;
  margin-left:0.5em;
}
.paymentPreferred {
  color:#4d4d4d;
  font-size:0.8em;
}
.checkmarkContainer {
  color:#3c8ac7;
  line-height:0;
  font-size:3em;
}
