
.walletContainer {
  composes:paymentsContainer from 'styles/shared.css';
}

.walletHeader {
  composes:paymentsHeader from 'styles/shared.css';
}

.icon {

}

.heading {

}
.walletMain {

}

.updatePaymentsContainer {
  width:100%;
  margin-top:1em;
  display:flex;
  justify-content:space-between;
}

.updatePayment {
  display:flex;
  align-items:center;
  color:#3c8ac7;
  font-weight:500;
  line-height:1;
}
