
/* -------  Home  ------- */
.container {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  flex-shrink:0;
  composes:leftSide from 'styles/shared.css'
}
.header {
  text-align:center;
  padding:0 1em;
}
.link {
  composes:github from 'styles/shared.css'
}
.hi {
  font-size:1.6em;
  margin-bottom:1em;
}
.message {
  font-size:1.1em;
}
.btn {
  margin-top:5em;
  composes:btn from 'styles/shared.css'
}
