
/* -------  ShoppingCart  ------- */
.shoppingCartContainer {
  flex:6;
  background:#e0e0e0;
}
.shoppingCartMain {
  padding:1.5em 3em;
}
.welcomeMessage {
  margin-bottom:3em;
}
.shoppingCartContainer .payWithContainer li {
  border:0;
}

/* -------  ShoppingCartHeader  ------- */
.shoppingCartHeader {
  height:20%;
  padding:1.5em 3em;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
}
.shoppingCartHeader::after {
  content:'';
  width:80%;
  height:1px;
  margin:0 auto;
  display:block;
  background:#bdbdbd;
  position:absolute;
  bottom:0;right:0;left:0;
}


/* -------  ShoppingCartTotal  ------- */
.shoppingCartPrice {
  font-weight:600;
}
.shoppingCartIcon {
  font-size:1.2em;
  margin:0 0.6em 0.2em 0;
}

/* -------  PayWithContainer  ------- */
.payWithContainer {
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}
.payWithText {
  width:50%;
}
.payWithInfo {
  width:50%;
  text-align:right;
  cursor:pointer;
}
