
/* -------  EditPayment  ------- */
.container {
  composes:leftSide from 'styles/shared.css';
}
.creditCards {
  display:flex;
  width:90%;
  margin:0.25em auto;
  justify-content:space-around;
}
.info {
  display:flex;
  flex-wrap:wrap;
  padding:1em 0.5em;
}
.info div:nth-child(4) {
  width:100%;
}
.btn {
  width:50%;
  margin:2em auto;
  composes:btn from 'styles/shared.css'
}

@media only screen and (min-width:667px) {
  .btn {
    margin:3.33em auto;
  }
}
