
/* -------  EditPayment  ------- */
.editPaymentContainer {
  composes:leftSideContainer from 'styles/shared.css';
}
.creditCardsContainer {
  display:flex;
  width:100%;
  margin:1em 0;
  justify-content:center;
}
.paymentInfoContainer {
  display:flex;
  flex-wrap:wrap;
}
.paymentInfoContainer div:nth-child(4) {
  width:100%;
}
