
/* -------  EditPayment  ------- */
.editPaymentContainer {
  composes:leftSideContainer from 'styles/shared.css';
}
.creditCardsContainer {
  display:flex;
  width:100%;
  margin:0.5em 0;
  justify-content:space-around;
}
.paymentInfoContainer {
  display:flex;
  flex-wrap:wrap;
  padding:1em 0.5em;
}
.paymentInfoContainer div:nth-child(4) {
  width:100%;
}
.editPaymentButton {

}
