
/* -------  Input  ------- */
.inputContainer {
  width:45%;
  margin:2.5%;
  position:relative;
  display:flex;
  align-items:center;
}
.inputSearch {
  height:2.5em;
  width:100%;
  padding:0 0.75em;
  border:1px solid #070707;
  background:#fff;
  border-radius:2px;
}
.inputUnderline {
  display:block;
  height:4px;width:0;
  position:absolute;
  bottom:0;left:0;right:0;
  margin:0 auto;
  opacity:0;
  background:#121212;
  border-radius:0 0 100% 100%;
  transition:opacity 0.22s,width 0.22s;
}
.inputSearch:focus ~ .inputUnderline {
  width:100%;
  opacity:1;
}
.inputIcon {
  height:100%;
  width:2em;
  position:absolute;
  right:1em;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
}
